/* this is the start of css */
* {
    color:black;
}
body{
    background-color: rgb(180, 204, 170);
    display: inline;
}
h1{
    width: 20cm;
    height: 1.5cm;
    min-width: 10cm;
    text-align:center;
    border:2px solid royalblue;
    border-style:double;
    border-radius: 0.8cm;
    border-width: 5px;
    margin: auto;
    background-color: #ABC;
    color: #4f3eac;
}
span{
    background-color: hsl(160, 100%, 75%);
    text-decoration:underline
    
}
h2{
    color: rgb(75, 73, 151);
    text-align:center
}
h3{

    color:darkgreen
}

/* style on participant list */
ul {
    position: static;
    max-width: 20cm;
    border: 10px double rebeccapurple;
    margin-top: .5vm;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vmax;

    padding: .5em, 100mm, 10px, 1cm
  }

ol{
    display: inline-block;
    text-decoration: line-through;
    border: 4px dashed rgb(63, 18, 109);
    margin: .5rem, 1cm, 1cm, 1cm;
    
    padding-left: .75cm;
    padding-right: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
header{
    position: sticky;
    background-color: white;
}
button:hover{
    background-color: aquamarine;
}
button:active{
    background-color: red;
}

.container>div{
    justify-content:center;
    display: flex;
    flex-direction:row;
    flex-grow: auto;
    flex-shrink: auto;
    justify-content: flex-start;
}

.container{
    justify-content:center;
    display: flex;
    flex-direction:row;
    flex-grow: 4;
    flex-shrink: 2;
    justify-content: flex-start;
}

.container>li{
    background-color: rgb(185, 212, 130);
    border: solid black;
    text-align: center;

    padding: 20px 20px 20px 20px;
}

.container>label{
    background-color: yellowgreen;
    border: solid black;
    text-align: center;
    justify-content: space-around;
    padding: 1em 1em 1em 1em;
}


.container>div{
    background-color: rgb(204, 228, 157);
    border: solid black;
    text-align: center;

    padding: 20px 20px 15px 15px;
}
.grid-container{
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
}

.grid-container>a{
    background-color: yellowgreen;
    border: solid black 1px;
    text-align: center;


    padding: 10px 10px 10px 10px;
}

.grid-container label{
    background-color:bisque;
    border: solid black 1px;
    text-align: center;


    padding: 10px 10px 10px 10px;
}

.container+h3{
    background-color: rgb(228, 157, 157);
    border: solid black 1px;
    text-align: center;

}

.grid-container~div{
    background-color: rgb(204, 228, 157);
    border: solid black 1px;
    text-align: center;
    justify-content: space-around;


}

@media (min-width: 70rem) {
    h3 {
      background: yellow;
    }
}

p.center {
    text-align: center;
    color: red;
}

p.large {
    font-size: 300%;
}

#id {
    text-align: center;
    color: blueviolet;
}

li[target]{
    font-size: 200%;
}

button:hover {
    color: green;
}

section.h2{
    text-align: center;
    color: goldenrod;
}